
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body{
    background-color: #101011;
  }
  
  #herosection {
    margin-top: 35vh;
    font-family: 'Clash Display', sans-serif;
    font-weight: 700;
    line-height: 4vw;
    align-items: center;
    color: #FFFFFF;
    font-synthesis: none;
  }

  a {
    text-decoration: none;
  }
  .about_me{
    width: 40vw;
    height: 20vw;
    margin-left: 42.5vw;
    margin-top: 20vw;
    font-size: clamp(16px, 3vw, 48px);
  }

  .link {
    color: rgb(255, 255, 255);
    background-color: rgb(63, 63, 63);
  }

  .icon {
    margin-left: 17.5vw;
    width: 20vw;
    float: left;
    margin-top: -2vw;
  }
















